## Module 2 Homework

In this homework, we're going to combine data from various sources to process it in Pandas and generate additional fields.v

In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

# for graphs
import matplotlib.pyplot as plt

In [2]:
import warnings 
from pandas.errors import SettingWithCopyWarning
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)
 
warnings.simplefilter(action='ignore', category=(SettingWithCopyWarning))

#### Question 1: IPO Filings Web Scraping and Data Processing
What's the total sum ($m) of 2023 filings that happened on Fridays?

In [12]:
import pandas as pd
import requests

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
}

url = "https://stockanalysis.com/ipos/filings/"
response = requests.get(url, headers=headers)

ipo_dfs = pd.read_html(response.text)

In [13]:
ipos_filing = ipo_dfs[0]
ipos_filing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Filing Date     325 non-null    object
 1   Symbol          325 non-null    object
 2   Company Name    325 non-null    object
 3   Price Range     325 non-null    object
 4   Shares Offered  325 non-null    object
dtypes: object(5)
memory usage: 12.8+ KB

In [14]:
ipos_filing.head(10)

,Filing Date,Symbol,Company Name,Price Range,Shares Offered
0,"Apr 29, 2024",HWEC,"HW Electro Co., Ltd.",$3.00,3750000
1,"Apr 29, 2024",DTSQ,DT Cloud Star Acquisition Corporation,$10.00,6000000
2,"Apr 26, 2024",EURK,Eureka Acquisition Corp,$10.00,5000000
3,"Apr 26, 2024",HDL,Super Hi International Holding Ltd.,-,-
4,"Apr 22, 2024",DRJT,Derun Group Inc,$5.00,-
5,"Apr 19, 2024",GPAT,GP-Act III Acquisition Corp.,$10.00,25000000
6,"Apr 16, 2024",JLJT,Jialiang Holdings Ltd,$5.00,-
7,"Apr 15, 2024",GAUZ,Gauzy Ltd.,-,-
8,"Apr 12, 2024",BOW,Bowhead Specialty Holdings Inc.,-,-
9,"Apr 5, 2024",SPHL,Springview Holdings Ltd,$4.00 - $5.00,2000000

In [21]:
# Convert the 'Filing Date' to datetime()
ipos_filing['Filing Date'] = pd.to_datetime(ipos_filing['Filing Date'])

# Convert 'Shares Offered' to float64 and '-' to NaN
ipos_filing['Shares Offered'] = ipos_filing['Shares Offered'].fillna('-')
ipos_filing['Shares Offered'] = ipos_filing['Shares Offered'].apply(lambda x: float(x) if x!= '-' else None)

In [77]:
# Define a new field 'Avg_price' based on the "Price Range", 
import re

def get_avg(price_range):
    matches = re.findall(r'\$([\d.]+)', price_range)
    if matches:
        prices = [float(match) for match in matches]
        return sum(prices) / len(prices)
    else:
        return None

In [75]:
ipos_filing['Avg_price'] = ipos_filing['Price Range'].apply(get_avg)

In [78]:
ipos_filing

,Filing Date,Symbol,Company Name,Price Range,Shares Offered,Avg_price
0,2024-04-29,HWEC,"HW Electro Co., Ltd.",$3.00,3750000.0,3.00
1,2024-04-29,DTSQ,DT Cloud Star Acquisition Corporation,$10.00,6000000.0,10.00
2,2024-04-26,EURK,Eureka Acquisition Corp,$10.00,5000000.0,10.00
3,2024-04-26,HDL,Super Hi International Holding Ltd.,-,NaN,NaN
4,2024-04-22,DRJT,Derun Group Inc,$5.00,NaN,5.00
...,...,...,...,...,...,...
320,2020-01-21,GOXS,"Goxus, Inc.",$8.00 - $10.00,1500000.0,9.00
321,2020-01-21,UTXO,"UTXO Acquisition, Inc.",$10.00,5000000.0,10.00
322,2019-12-09,LOHA,Loha Co. Ltd,$8.00 - $10.00,2500000.0,9.00
323,2019-10-04,ZGHB,China Eco-Materials Group Co. Limited,$4.00,4300000.0,4.00
324,2018-12-27,FBOX,Fit Boxx Holdings Limited,$5.00 - $6.50,2000000.0,5.75

In [79]:
ipos_filing['Shares_offered_value'] = ipos_filing["Shares Offered"] * ipos_filing["Avg_price"]

In [80]:
ipos_filing

,Filing Date,Symbol,Company Name,Price Range,Shares Offered,Avg_price,Shares_offered_value
0,2024-04-29,HWEC,"HW Electro Co., Ltd.",$3.00,3750000.0,3.00,11250000.0
1,2024-04-29,DTSQ,DT Cloud Star Acquisition Corporation,$10.00,6000000.0,10.00,60000000.0
2,2024-04-26,EURK,Eureka Acquisition Corp,$10.00,5000000.0,10.00,50000000.0
3,2024-04-26,HDL,Super Hi International Holding Ltd.,-,NaN,NaN,NaN
4,2024-04-22,DRJT,Derun Group Inc,$5.00,NaN,5.00,NaN
...,...,...,...,...,...,...,...
320,2020-01-21,GOXS,"Goxus, Inc.",$8.00 - $10.00,1500000.0,9.00,13500000.0
321,2020-01-21,UTXO,"UTXO Acquisition, Inc.",$10.00,5000000.0,10.00,50000000.0
322,2019-12-09,LOHA,Loha Co. Ltd,$8.00 - $10.00,2500000.0,9.00,22500000.0
323,2019-10-04,ZGHB,China Eco-Materials Group Co. Limited,$4.00,4300000.0,4.00,17200000.0
324,2018-12-27,FBOX,Fit Boxx Holdings Limited,$5.00 - $6.50,2000000.0,5.75,11500000.0

Find the total sum in $m (millions of USD, closest INTEGER number) for all filings during 2023, which happened on Fridays (Date.dt.dayofweek()==4). You should see 32 records in total, 25 of it is not null.

In [103]:
import math
total = ipos_filing[(ipos_filing['Filing Date'].dt.dayofweek==4) & (ipos_filing['Filing Date'].dt.year==2023)]['Shares_offered_value'].sum()
total = math.ceil(total/1000000)
total

286

#### Question 2: IPOs "Fixed days hold" strategy
Find the optimal number of days X (between 1 and 30), where 75% quantile growth is the highest?

In [138]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
}

urls = ["https://stockanalysis.com/ipos/2023/","https://stockanalysis.com/ipos/2024/"] 
info_dfs =[]
for url in urls:
    response = requests.get(url, headers=headers) 
    dfs = pd.read_html(response.text)
    info_dfs.extend(dfs)

combined_dfs = pd.concat(info_dfs, ignore_index=True)

In [139]:
combined_dfs['IPO Date'] = pd.to_datetime(combined_dfs['IPO Date'])

In [140]:
combined_dfs2324 = combined_dfs[combined_dfs['IPO Date'] < '2024-03-01']

In [141]:
combined_dfs2324 = combined_dfs2324[combined_dfs2324['Symbol']!='RYZB']
combined_dfs2324

,IPO Date,Symbol,Company Name,IPO Price,Current,Return,Date,Name
0,2023-12-27,IROH,Iron Horse Acquisitions Corp.,$10.00,$10.04,0.40%,NaN,NaN
1,2023-12-19,LGCB,Linkage Global Inc,$4.00,$3.10,-22.50%,NaN,NaN
2,2023-12-15,ZKH,ZKH Group Limited,$15.50,$12.34,-20.39%,NaN,NaN
3,2023-12-15,BAYA,Bayview Acquisition Corp,$10.00,$10.17,1.70%,NaN,NaN
4,2023-12-14,INHD,Inno Holdings Inc.,$4.00,$0.66,-83.40%,NaN,NaN
...,...,...,...,...,...,...,...,...
218,2024-01-18,PSBD,Palmer Square Capital BDC Inc.,$16.45,$16.47,0.12%,NaN,NaN
219,2024-01-18,CCTG,CCSC Technology International Holdings Limited,$6.00,$2.32,-61.33%,NaN,NaN
220,2024-01-12,SYNX,Silynxcom Ltd.,$4.00,$3.20,-20.00%,NaN,NaN
221,2024-01-11,SDHC,Smith Douglas Homes Corp.,$21.00,$30.21,43.86%,NaN,NaN
222,2024-01-09,ROMA,Roma Green Finance Limited,$4.00,$0.72,-82.04%,NaN,NaN

In [142]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
}

url = "https://stockanalysis.com/actions/changes/"
response = requests.get(url, headers=headers)

changes_dfs = pd.read_html(response.text)

In [148]:
changes_df = changes_dfs[0]

In [149]:
combined_dfs2324.merge(changes_df, left_on='Symbol', right_on='Old', how='inner')

,IPO Date,Symbol,Company Name,IPO Price,Current,Return,Date_x,Name,Date_y,Old,New,New Company Name
0,2023-11-21,CLBR,Colombier Acquisition Corp.,$10.00,$10.35,3.50%,NaN,NaN,"Jul 20, 2023",CLBR,PSQH,Psq Holdings Inc
1,2023-02-10,PTHR,"Pono Capital Three, Inc.",$10.00,$5.72,-42.80%,NaN,NaN,"Jan 16, 2024",PTHR,HOVR,New Horizon Aircraft Ltd.

In [153]:
combined_dfs2324.loc[combined_dfs2324['Symbol'] == 'CLBR', 'Symbol'] = 'PSQH'
combined_dfs2324.loc[combined_dfs2324['Symbol'] == 'PTHR', 'Symbol'] = 'HOVR'

In [156]:
stock_list = list(set(combined_dfs2324['Symbol']))

In [157]:
stock_list

['BAYA',
 'SXTP',
 'UCAR',
 'HOVR',
 'GNLX',
 'ENLT',
 'MGX',
 'PSBD',
 'GPAK',
 'PRZO',
 'GMM',
 'ANSC',
 'KVYO',
 'SRM',
 'VTMX',
 'NXT',
 'ZJYL',
 'INTS',
 'DIST',
 'CWD',
 'ALCY',
 'LICN',
 'MDBH',
 'VSME',
 'DTCK',
 'KGS',
 'FBLG',
 'TPET',
 'AS',
 'PXDT',
 'AZTR',
 'IPXX',
 'NETD',
 'GLAC',
 'WBUY',
 'LRE',
 'GDHG',
 'YGFGF',
 'LGCB',
 'LSDI',
 'GPCR',
 'OAKU',
 'BUJA',
 'QETA',
 'ASST',
 'CHRO',
 'AHR',
 'ARBB',
 'KVAC',
 'ANRO',
 'TMTC',
 'RR',
 'ICG',
 'ESHA',
 'IVP',
 'DYCQ',
 'APGE',
 'AFJK',
 'BLAC',
 'SPPL',
 'GSIW',
 'CART',
 'JYD',
 'INHD',
 'NCL',
 'SPKL',
 'ODD',
 'KVUE',
 'NMRA',
 'QSG',
 'ROMA',
 'LRHC',
 'TXO',
 'SKWD',
 'WLGS',
 'MGRX',
 'TRNR',
 'LXEO',
 'SYRA',
 'SLRN',
 'SYT',
 'FORL',
 'MSS',
 'MNR',
 'ELWS',
 'CCTG',
 'GVH',
 'FIHL',
 'HKIT',
 'SFWL',
 'FEBO',
 'AITR',
 'SMXT',
 'MWG',
 'ARM',
 'GENK',
 'ATMU',
 'ZKH',
 'ISRL',
 'ISPR',
 'TELO',
 'WRNT',
 'AACT',
 'SWIN',
 'SGN',
 'SHIM',
 'FTEL',
 'JNVR',
 'AESI',
 'NRXS',
 'HLXB',
 'MLYS',
 'PSQH',
 'BMR',
 'AVBP',
 'HAO',
 'SUGP',
 'MGOL',
 'CVKD',
 'BIRK',
 'ELAB',
 'SBXC',
 'HRYU',
 'KSPI',
 'TSBX',
 'ATS',
 'HSHP',
 'IZM',
 'HSAI',
 'VHAI',
 'HYAC',
 'GODN',
 'DDC',
 'SPGC',
 'PWM',
 'CETU',
 'PMEC',
 'ATGL',
 'USGO',
 'BANL',
 'IROH',
 'CTNT',
 'YIBO',
 'TCJH',
 'TBBB',
 'MGIH',
 'SGMT',
 'LEGT',
 'GDTC',
 'MARX',
 'BREA',
 'SVV',
 'SDHC',
 'HG',
 'LQR',
 'UMAC',
 'GXAI',
 'GUTS',
 'PAPL',
 'HLP',
 'CGON',
 'KYTX',
 'BOF',
 'ANL',
 'JL',
 'CRGX',
 'TBMC',
 'JVSA',
 'VCIG',
 'CHSN',
 'OMH',
 'MIRA',
 'BFRG',
 'NWGL',
 'SYNX',
 'PMNT',
 'TURB',
 'SRFM',
 'BTSG',
 'CAVA',
 'SGE',
 'NNAG',
 'AIXI',
 'BOWN']

In [158]:
len(stock_list)

184

In [160]:
end_date = date(2024,3,1)
OHLCV_df = yf.download(stock_list, end=end_date, progress=True)
OHLCV_df

[*********************100%%**********************]  184 of 184 completed

3 Failed downloads:
['DYCQ', 'LEGT', 'JVSA']: Exception("%ticker%: Data doesn't exist for startDate = -1407196800, endDate = 1709269200")

Price      Adj Close                                                     \
Ticker          AACT       AESI    AFJK        AHR    AITR  AIXI   ALCY
Date
2009-12-29       NaN        NaN     NaN        NaN     NaN   NaN    NaN
2009-12-30       NaN        NaN     NaN        NaN     NaN   NaN    NaN
2009-12-31       NaN        NaN     NaN        NaN     NaN   NaN    NaN
2010-01-04       NaN        NaN     NaN        NaN     NaN   NaN    NaN
2010-01-05       NaN        NaN     NaN        NaN     NaN   NaN    NaN
...              ...        ...     ...        ...     ...   ...    ...
2024-02-23     10.55  18.320000  10.175  13.365355  10.240  1.87  10.55
2024-02-26     10.54  18.330000  10.180  13.031221  10.240  1.90  10.56
2024-02-27     10.55  19.809999  10.174  13.316218  10.242  2.43  10.56
2024-02-28     10.48  19.299999  10.180  13.404666  10.240  2.06  10.54
2024-02-29     10.53  18.860001  10.154  13.434148  10.240  1.98  10.55

Price                            ...      Volume                      \
Ticker        ANL   ANRO   ANSC  ...        VHAI      VSME      VTMX
Date                             ...
2009-12-29    NaN    NaN    NaN  ...         NaN       NaN       NaN
2009-12-30    NaN    NaN    NaN  ...         NaN       NaN       NaN
2009-12-31    NaN    NaN    NaN  ...         NaN       NaN       NaN
2010-01-04    NaN    NaN    NaN  ...         NaN       NaN       NaN
2010-01-05    NaN    NaN    NaN  ...         NaN       NaN       NaN
...           ...    ...    ...  ...         ...       ...       ...
2024-02-23  7.151  13.72  10.14  ...         NaN  166900.0  125000.0
2024-02-26  7.150  15.31  10.15  ...   2444600.0  326800.0   77300.0
2024-02-27  7.150  14.36  10.15  ...  10196900.0  963200.0  114200.0
2024-02-28  7.150  15.33  10.13  ...   1554300.0  393900.0  165400.0
2024-02-29  7.150  15.40  10.14  ...   1853300.0  177900.0   90100.0

Price
Ticker          WBUY       WLGS      WRNT YGFGF     YIBO      ZJYL      ZKH
Date
2009-12-29       NaN        NaN       NaN   NaN      NaN       NaN      NaN
2009-12-30       NaN        NaN       NaN   NaN      NaN       NaN      NaN
2009-12-31       NaN        NaN       NaN   NaN      NaN       NaN      NaN
2010-01-04       NaN        NaN       NaN   NaN      NaN       NaN      NaN
2010-01-05       NaN        NaN       NaN   NaN      NaN       NaN      NaN
...              ...        ...       ...   ...      ...       ...      ...
2024-02-23  225200.0   107100.0  128200.0   0.0  35700.0  323200.0  54100.0
2024-02-26  137400.0  1060100.0   38900.0   0.0  20400.0  578500.0  42700.0
2024-02-27  161600.0   375400.0  147600.0   0.0  19300.0  218900.0  40000.0
2024-02-28  182900.0   266700.0  187200.0   0.0   9700.0  200900.0  55200.0
2024-02-29   88600.0   139100.0   62700.0   0.0  11400.0  120300.0  76600.0

[3566 rows x 1104 columns]

In [161]:
stock_list.remove('DYCQ')
stock_list.remove('LEGT')
stock_list.remove('JVSA')
stock_list.append('DYCQU')
stock_list.append('LEGT-UN')
stock_list.append('JVSAU')
len(stock_list)

184

In [162]:
end_date = date(2024,3,1)
OHLCV_df = yf.download(stock_list, end=end_date, progress=True)
OHLCV_df

[*********************100%%**********************]  184 of 184 completed

Price      Adj Close                                                     \
Ticker          AACT       AESI    AFJK        AHR    AITR  AIXI   ALCY
Date
2009-12-29       NaN        NaN     NaN        NaN     NaN   NaN    NaN
2009-12-30       NaN        NaN     NaN        NaN     NaN   NaN    NaN
2009-12-31       NaN        NaN     NaN        NaN     NaN   NaN    NaN
2010-01-04       NaN        NaN     NaN        NaN     NaN   NaN    NaN
2010-01-05       NaN        NaN     NaN        NaN     NaN   NaN    NaN
...              ...        ...     ...        ...     ...   ...    ...
2024-02-23     10.55  18.320000  10.175  13.365355  10.240  1.87  10.55
2024-02-26     10.54  18.330000  10.180  13.031221  10.240  1.90  10.56
2024-02-27     10.55  19.809999  10.174  13.316218  10.242  2.43  10.56
2024-02-28     10.48  19.299999  10.180  13.404666  10.240  2.06  10.54
2024-02-29     10.53  18.860001  10.154  13.434148  10.240  1.98  10.55

Price                            ...      Volume                      \
Ticker        ANL   ANRO   ANSC  ...        VHAI      VSME      VTMX
Date                             ...
2009-12-29    NaN    NaN    NaN  ...         NaN       NaN       NaN
2009-12-30    NaN    NaN    NaN  ...         NaN       NaN       NaN
2009-12-31    NaN    NaN    NaN  ...         NaN       NaN       NaN
2010-01-04    NaN    NaN    NaN  ...         NaN       NaN       NaN
2010-01-05    NaN    NaN    NaN  ...         NaN       NaN       NaN
...           ...    ...    ...  ...         ...       ...       ...
2024-02-23  7.151  13.72  10.14  ...         NaN  166900.0  125000.0
2024-02-26  7.150  15.31  10.15  ...   2444600.0  326800.0   77300.0
2024-02-27  7.150  14.36  10.15  ...  10196900.0  963200.0  114200.0
2024-02-28  7.150  15.33  10.13  ...   1554300.0  393900.0  165400.0
2024-02-29  7.150  15.40  10.14  ...   1853300.0  177900.0   90100.0

Price
Ticker          WBUY       WLGS      WRNT YGFGF     YIBO      ZJYL      ZKH
Date
2009-12-29       NaN        NaN       NaN   NaN      NaN       NaN      NaN
2009-12-30       NaN        NaN       NaN   NaN      NaN       NaN      NaN
2009-12-31       NaN        NaN       NaN   NaN      NaN       NaN      NaN
2010-01-04       NaN        NaN       NaN   NaN      NaN       NaN      NaN
2010-01-05       NaN        NaN       NaN   NaN      NaN       NaN      NaN
...              ...        ...       ...   ...      ...       ...      ...
2024-02-23  225200.0   107100.0  128200.0   0.0  35700.0  323200.0  54100.0
2024-02-26  137400.0  1060100.0   38900.0   0.0  20400.0  578500.0  42700.0
2024-02-27  161600.0   375400.0  147600.0   0.0  19300.0  218900.0  40000.0
2024-02-28  182900.0   266700.0  187200.0   0.0   9700.0  200900.0  55200.0
2024-02-29   88600.0   139100.0   62700.0   0.0  11400.0  120300.0  76600.0

[3566 rows x 1104 columns]

In [165]:
df = OHLCV_df.copy()
df = df['Adj Close'] 

df

Ticker,AACT,AESI,AFJK,AHR,AITR,AIXI,ALCY,ANL,ANRO,ANSC,...,VHAI,VSME,VTMX,WBUY,WLGS,WRNT,YGFGF,YIBO,ZJYL,ZKH
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-23,10.55,18.320000,10.175,13.365355,10.240,1.87,10.55,7.151,13.72,10.14,...,NaN,0.470,34.966526,0.413,0.598,0.615,0.733,2.49,7.09,19.129999
2024-02-26,10.54,18.330000,10.180,13.031221,10.240,1.90,10.56,7.150,15.31,10.15,...,1.635,0.459,34.757565,0.410,0.804,0.650,0.733,2.60,6.44,19.205000
2024-02-27,10.55,19.809999,10.174,13.316218,10.242,2.43,10.56,7.150,14.36,10.15,...,1.720,0.506,34.777466,0.420,0.867,0.727,0.733,2.74,6.57,19.340000
2024-02-28,10.48,19.299999,10.180,13.404666,10.240,2.06,10.54,7.150,15.33,10.13,...,1.670,0.474,34.677956,0.404,0.880,0.660,0.733,2.83,6.02,19.790001
2024-02-29,10.53,18.860001,10.154,13.434148,10.240,1.98,10.55,7.150,15.40,10.14,...,1.380,0.489,35.016277,0.407,0.850,0.659,0.733,2.74,6.28,20.270000

In [188]:
df_growth_ft = pd.DataFrame(columns = [f'growth_future_{d}d' for d in range(1,31)],index=df.columns)

In [189]:
df_growth_ft

,growth_future_1d,growth_future_2d,growth_future_3d,growth_future_4d,growth_future_5d,growth_future_6d,growth_future_7d,growth_future_8d,growth_future_9d,growth_future_10d,...,growth_future_21d,growth_future_22d,growth_future_23d,growth_future_24d,growth_future_25d,growth_future_26d,growth_future_27d,growth_future_28d,growth_future_29d,growth_future_30d
Ticker,,,,,,,,,,,,,,,,,,,,,
AACT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AESI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AITR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WRNT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YGFGF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YIBO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZJYL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZKH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
# Function to calculate the future growth

def calc_growth_futre_xd(qty_days:int,stock:str,df_stocks:pd.DataFrame)->float:
  df_temp=df.loc[df[stock].isna()==False,stock].copy() 
  try: 
    return (df_temp.shift(-qty_days)/df_temp).dropna().iloc[0]
  except Exception as e :
    return np.NaN

stock_list.sort()
import time
t1= time.time()
for ticket in stock_list:
  for d in range(1,31):
    df_growth_ft.loc[ticket,f"growth_future_{d}d"]=calc_growth_futre_xd(d,ticket,df)
for c in df_growth_ft.columns:
  df_growth_ft[c]=  pd.to_numeric(df_growth_ft[c],errors='coerce') 
print(f"time enlapsed {time.time()-t1:.2f}")

df_growth_ft

time enlapsed 2.16

,growth_future_1d,growth_future_2d,growth_future_3d,growth_future_4d,growth_future_5d,growth_future_6d,growth_future_7d,growth_future_8d,growth_future_9d,growth_future_10d,...,growth_future_21d,growth_future_22d,growth_future_23d,growth_future_24d,growth_future_25d,growth_future_26d,growth_future_27d,growth_future_28d,growth_future_29d,growth_future_30d
Ticker,,,,,,,,,,,,,,,,,,,,,
AACT,0.999011,1.000000,1.000000,1.000989,1.000989,1.000989,1.002967,1.002967,1.003956,1.004946,...,1.005539,1.004946,1.004946,1.004946,1.005935,1.005935,1.005935,1.007913,1.007913,1.007913
AESI,0.973451,0.943363,0.979941,0.946903,0.951032,0.939823,0.949852,0.965192,0.968142,0.943953,...,1.023009,1.049558,1.050737,1.058997,1.076106,1.074926,1.057817,1.066077,1.056637,1.072566
AFJK,1.000000,1.000984,1.000984,1.001969,1.000984,1.001969,1.000984,1.000984,1.000492,1.000984,...,1.001969,1.001476,1.001969,1.001378,1.001969,0.999409,NaN,NaN,NaN,NaN
AHR,0.987897,0.992436,0.994705,1.009834,1.040847,1.031770,1.049168,1.014372,1.013616,1.024962,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AITR,1.000986,1.003945,1.003945,1.004043,1.004931,1.004931,1.004931,1.005424,1.004931,1.005917,...,1.006903,1.006903,1.006903,1.007890,1.008876,1.007890,1.007692,1.007692,1.008383,1.008876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WRNT,0.788372,0.572093,0.508139,0.441860,0.372093,0.402326,0.369767,0.365116,0.318605,0.313953,...,0.241860,0.223256,0.226744,0.209302,0.244186,0.217674,0.209302,0.209302,0.213953,0.225814
YGFGF,0.975064,0.976864,0.997686,1.002571,0.940874,0.866324,0.843188,0.843188,0.832905,0.858612,...,0.950386,0.904884,1.002571,0.866324,0.868895,0.750643,0.758355,0.754499,0.830334,0.943445
YIBO,0.974910,0.931900,0.953405,0.867384,0.821505,0.737993,0.727599,0.788530,0.770609,0.770609,...,0.931900,0.982079,1.014337,0.982079,NaN,NaN,NaN,NaN,NaN,NaN
ZJYL,0.997987,0.962264,0.937107,0.943396,0.916981,0.940881,0.924528,0.922013,0.928302,0.880503,...,0.899371,0.959748,1.207547,0.739623,0.691824,0.704403,0.716981,0.704403,0.716730,0.703145
ZKH,1.000000,1.000000,1.011613,1.008387,1.003871,1.029032,1.025806,1.040000,1.052258,1.019355,...,1.079355,1.038710,1.045161,1.084516,1.194839,1.228387,1.106452,1.145161,1.169032,1.100645

In [191]:
df_growth_ft.describe()

,growth_future_1d,growth_future_2d,growth_future_3d,growth_future_4d,growth_future_5d,growth_future_6d,growth_future_7d,growth_future_8d,growth_future_9d,growth_future_10d,...,growth_future_21d,growth_future_22d,growth_future_23d,growth_future_24d,growth_future_25d,growth_future_26d,growth_future_27d,growth_future_28d,growth_future_29d,growth_future_30d
count,184.000000,184.000000,183.000000,182.000000,182.000000,182.000000,181.000000,181.000000,179.000000,179.000000,...,166.000000,166.000000,166.000000,163.000000,161.000000,159.000000,158.000000,158.000000,156.000000,154.000000
mean,0.945817,0.937135,0.932034,0.921497,0.914780,0.907453,0.897078,0.897245,0.898547,0.895302,...,0.916535,0.908074,0.908004,0.905090,0.893390,0.899668,0.933837,0.939169,0.937869,0.939271
std,0.170229,0.205928,0.247178,0.264045,0.295090,0.309837,0.298975,0.320812,0.353685,0.367092,...,0.529682,0.487509,0.493695,0.502187,0.498232,0.544434,0.831804,0.833093,0.835255,0.828965
min,0.153569,0.108733,0.086641,0.094257,0.081118,0.087677,0.085261,0.090123,0.095616,0.096997,...,0.048326,0.048326,0.049361,0.048326,0.048326,0.045219,0.044529,0.046945,0.042803,0.040387
25%,0.921392,0.876712,0.853571,0.835599,0.792430,0.784618,0.790333,0.750000,0.731103,0.711589,...,0.625299,0.616880,0.616976,0.633517,0.607884,0.606017,0.602782,0.626498,0.610721,0.623529
50%,1.000000,1.000000,0.997959,0.995516,0.996965,0.976002,0.980443,0.981308,0.987915,0.978735,...,0.977389,0.985499,0.984442,0.977778,0.966194,0.977839,0.973983,0.973220,0.968098,0.984353
75%,1.011792,1.017794,1.009769,1.009530,1.009926,1.007620,1.006897,1.008815,1.011662,1.014198,...,1.011947,1.022487,1.020213,1.021537,1.016716,1.023933,1.021156,1.025557,1.024041,1.020630
max,1.362069,1.464015,2.380000,2.083710,2.262443,2.529870,2.173913,2.359740,2.751948,3.176087,...,4.500000,3.871041,3.846154,3.803394,3.427273,4.817886,9.056122,9.081632,9.265306,9.372449

In [194]:
quantil_75 = df_growth_ft.describe().loc['75%']
quantil_75

growth_future_1d     1.011792
growth_future_2d     1.017794
growth_future_3d     1.009769
growth_future_4d     1.009530
growth_future_5d     1.009926
growth_future_6d     1.007620
growth_future_7d     1.006897
growth_future_8d     1.008815
growth_future_9d     1.011662
growth_future_10d    1.014198
growth_future_11d    1.013850
growth_future_12d    1.019350
growth_future_13d    1.020168
growth_future_14d    1.014986
growth_future_15d    1.014078
growth_future_16d    1.013298
growth_future_17d    1.010832
growth_future_18d    1.011820
growth_future_19d    1.014823
growth_future_20d    1.014142
growth_future_21d    1.011947
growth_future_22d    1.022487
growth_future_23d    1.020213
growth_future_24d    1.021537
growth_future_25d    1.016716
growth_future_26d    1.023933
growth_future_27d    1.021156
growth_future_28d    1.025557
growth_future_29d    1.024041
growth_future_30d    1.020630
Name: 75%, dtype: float64

In [195]:
days=f"{quantil_75[quantil_75.max()==quantil_75].index[0]}"
days=days.replace("growth_future_","").replace('d','')
print(f"the optimal number of days is {days}")

the optimal number of days is 28

#### Question 3: Is Growth Concentrated in the Largest Stocks?
Get the share of days (percentage as int) when Large Stocks outperform (growth_7d - growth over 7 periods back) the Largest stocks?

In [196]:
US_STOCKS = ['MSFT', 'AAPL', 'GOOG', 'NVDA', 'AMZN', 'META', 'BRK-B', 'LLY', 'AVGO','V', 'JPM']

EU_STOCKS = ['NVO','MC.PA', 'ASML', 'RMS.PA', 'OR.PA', 'SAP', 'ACN', 'TTE', 'SIE.DE','IDEXY','CDI.PA']

INDIA_STOCKS = ['RELIANCE.NS','TCS.NS','HDB','BHARTIARTL.NS','IBN','SBIN.NS','LICI.NS','INFY','ITC.NS','HINDUNILVR.NS','LT.NS']

LARGEST_STOCKS = US_STOCKS + EU_STOCKS + INDIA_STOCKS

In [197]:
NEW_US = ['TSLA','WMT','XOM','UNH','MA','PG','JNJ','MRK','HD','COST','ORCL']

NEW_EU = ['PRX.AS','CDI.PA','AIR.PA','SU.PA','ETN','SNY','BUD','DTE.DE','ALV.DE','MDT','AI.PA','EL.PA']

NEW_INDIA = ['BAJFINANCE.NS','MARUTI.NS','HCLTECH.NS','TATAMOTORS.NS','SUNPHARMA.NS','ONGC.NS','ADANIENT.NS','ADANIENT.NS','NTPC.NS','KOTAKBANK.NS','TITAN.NS']

LARGE_STOCKS = NEW_EU + NEW_US + NEW_INDIA

In [198]:
ALL_TICKERS = LARGEST_STOCKS + LARGE_STOCKS

In [199]:
import time

stocks_df = pd.DataFrame({'A' : []})

for i,ticker in enumerate(ALL_TICKERS):
  print(i,ticker)

  # Work with stock prices
  historyPrices = yf.download(tickers = ticker,
                     period = "max",
                     interval = "1d")

  # generate features for historical prices, and what we want to predict
  historyPrices['Ticker'] = ticker
  historyPrices['Year']= historyPrices.index.year
  historyPrices['Month'] = historyPrices.index.month
  historyPrices['Weekday'] = historyPrices.index.weekday
  historyPrices['Date'] = historyPrices.index.date

  # historical returns
  for i in [1,3,7,30,90,365]:
    historyPrices['growth_'+str(i)+'d'] = historyPrices['Adj Close'] / historyPrices['Adj Close'].shift(i)
  historyPrices['growth_future_5d'] = historyPrices['Adj Close'].shift(-5) / historyPrices['Adj Close']

  # Technical indicators
  # SimpleMovingAverage 10 days and 20 days
  historyPrices['SMA10']= historyPrices['Close'].rolling(10).mean()
  historyPrices['SMA20']= historyPrices['Close'].rolling(20).mean()
  historyPrices['growing_moving_average'] = np.where(historyPrices['SMA10'] > historyPrices['SMA20'], 1, 0)
  historyPrices['high_minus_low_relative'] = (historyPrices.High - historyPrices.Low) / historyPrices['Adj Close']

  # 30d rolling volatility : https://ycharts.com/glossary/terms/rolling_vol_30
  historyPrices['volatility'] =   historyPrices['Adj Close'].rolling(30).std() * np.sqrt(252)

  # what we want to predict
  historyPrices['is_positive_growth_5d_future'] = np.where(historyPrices['growth_future_5d'] > 1, 1, 0)

  # sleep 1 sec between downloads - not to overload the API server
  time.sleep(1)


  if stocks_df.empty:
    stocks_df = historyPrices
  else:
    stocks_df = pd.concat([stocks_df, historyPrices], ignore_index=True)

0 MSFT

[*********************100%%**********************]  1 of 1 completed

1 AAPL

[*********************100%%**********************]  1 of 1 completed

2 GOOG

[*********************100%%**********************]  1 of 1 completed

3 NVDA

[*********************100%%**********************]  1 of 1 completed

4 AMZN

[*********************100%%**********************]  1 of 1 completed

5 META

[*********************100%%**********************]  1 of 1 completed

6 BRK-B

[*********************100%%**********************]  1 of 1 completed

7 LLY

[*********************100%%**********************]  1 of 1 completed

8 AVGO

[*********************100%%**********************]  1 of 1 completed

9 V

[*********************100%%**********************]  1 of 1 completed

10 JPM

[*********************100%%**********************]  1 of 1 completed

11 NVO

[*********************100%%**********************]  1 of 1 completed

12 MC.PA

[*********************100%%**********************]  1 of 1 completed

13 ASML

[*********************100%%**********************]  1 of 1 completed

14 RMS.PA

[*********************100%%**********************]  1 of 1 completed

15 OR.PA

[*********************100%%**********************]  1 of 1 completed

16 SAP

[*********************100%%**********************]  1 of 1 completed

17 ACN

[*********************100%%**********************]  1 of 1 completed

18 TTE

[*********************100%%**********************]  1 of 1 completed

19 SIE.DE

[*********************100%%**********************]  1 of 1 completed

20 IDEXY

[*********************100%%**********************]  1 of 1 completed

21 CDI.PA

[*********************100%%**********************]  1 of 1 completed

22 RELIANCE.NS

[*********************100%%**********************]  1 of 1 completed

23 TCS.NS

[*********************100%%**********************]  1 of 1 completed

24 HDB

[*********************100%%**********************]  1 of 1 completed

25 BHARTIARTL.NS

[*********************100%%**********************]  1 of 1 completed

26 IBN

[*********************100%%**********************]  1 of 1 completed

27 SBIN.NS

[*********************100%%**********************]  1 of 1 completed

28 LICI.NS

[*********************100%%**********************]  1 of 1 completed

29 INFY

[*********************100%%**********************]  1 of 1 completed

30 ITC.NS

[*********************100%%**********************]  1 of 1 completed

31 HINDUNILVR.NS

[*********************100%%**********************]  1 of 1 completed

32 LT.NS

[*********************100%%**********************]  1 of 1 completed

33 PRX.AS

[*********************100%%**********************]  1 of 1 completed

34 CDI.PA

[*********************100%%**********************]  1 of 1 completed

35 AIR.PA

[*********************100%%**********************]  1 of 1 completed

36 SU.PA

[*********************100%%**********************]  1 of 1 completed

37 ETN

[*********************100%%**********************]  1 of 1 completed

38 SNY

[*********************100%%**********************]  1 of 1 completed

39 BUD

[*********************100%%**********************]  1 of 1 completed

40 DTE.DE

[*********************100%%**********************]  1 of 1 completed

41 ALV.DE

[*********************100%%**********************]  1 of 1 completed

42 MDT

[*********************100%%**********************]  1 of 1 completed

43 AI.PA

[*********************100%%**********************]  1 of 1 completed

44 EL.PA

[*********************100%%**********************]  1 of 1 completed

45 TSLA

[*********************100%%**********************]  1 of 1 completed

46 WMT

[*********************100%%**********************]  1 of 1 completed

47 XOM

[*********************100%%**********************]  1 of 1 completed

48 UNH

[*********************100%%**********************]  1 of 1 completed

49 MA

[*********************100%%**********************]  1 of 1 completed

50 PG

[*********************100%%**********************]  1 of 1 completed

51 JNJ

[*********************100%%**********************]  1 of 1 completed

52 MRK

[*********************100%%**********************]  1 of 1 completed

53 HD

[*********************100%%**********************]  1 of 1 completed

54 COST

[*********************100%%**********************]  1 of 1 completed

55 ORCL

[*********************100%%**********************]  1 of 1 completed

56 BAJFINANCE.NS

[*********************100%%**********************]  1 of 1 completed

57 MARUTI.NS

[*********************100%%**********************]  1 of 1 completed

58 HCLTECH.NS

[*********************100%%**********************]  1 of 1 completed

59 TATAMOTORS.NS

[*********************100%%**********************]  1 of 1 completed

60 SUNPHARMA.NS

[*********************100%%**********************]  1 of 1 completed

61 ONGC.NS

[*********************100%%**********************]  1 of 1 completed

62 ADANIENT.NS

[*********************100%%**********************]  1 of 1 completed

63 ADANIENT.NS

[*********************100%%**********************]  1 of 1 completed

64 NTPC.NS

[*********************100%%**********************]  1 of 1 completed

65 KOTAKBANK.NS

[*********************100%%**********************]  1 of 1 completed

66 TITAN.NS

[*********************100%%**********************]  1 of 1 completed

In [200]:
def get_ticker_type(ticker:str, LARGEST_STOCKS, LARGE_STOCKS ):
  if ticker in LARGEST_STOCKS:
    return 'LARGEST'
  elif ticker in LARGE_STOCKS:
    return 'LARGE' 
  else:
    return 'ERROR'

In [202]:
stocks_df['ticker_type'] = stocks_df.Ticker.apply(lambda x:get_ticker_type(x, LARGEST_STOCKS, LARGE_STOCKS))

In [204]:
# count of observations between LARGE & LARGEST stocks
stocks_df.ticker_type.value_counts()

ticker_type
LARGE      265786
LARGEST    229402
Name: count, dtype: int64

In [205]:
stocks_df.head(10)

,Open,High,Low,Close,Adj Close,Volume,Ticker,Year,Month,Weekday,...,growth_90d,growth_365d,growth_future_5d,SMA10,SMA20,growing_moving_average,high_minus_low_relative,volatility,is_positive_growth_5d_future,ticker_type
0,0.088542,0.101563,0.088542,0.097222,0.060163,1031788800,MSFT,1986,3,3,...,NaN,NaN,0.982144,NaN,NaN,0,0.216429,NaN,0,LARGEST
1,0.097222,0.102431,0.097222,0.100694,0.062311,308160000,MSFT,1986,3,4,...,NaN,NaN,0.922419,NaN,NaN,0,0.083596,NaN,0,LARGEST
2,0.100694,0.103299,0.100694,0.102431,0.063386,133171200,MSFT,1986,3,0,...,NaN,NaN,0.881354,NaN,NaN,0,0.041097,NaN,0,LARGEST
3,0.102431,0.103299,0.098958,0.099826,0.061774,67766400,MSFT,1986,3,1,...,NaN,NaN,0.921744,NaN,NaN,0,0.070272,NaN,0,LARGEST
4,0.099826,0.100694,0.097222,0.098090,0.060700,47894400,MSFT,1986,3,2,...,NaN,NaN,0.964604,NaN,NaN,0,0.057199,NaN,0,LARGEST
5,0.098090,0.098090,0.094618,0.095486,0.059089,58435200,MSFT,1986,3,3,...,NaN,NaN,1.009090,NaN,NaN,0,0.058759,NaN,1,LARGEST
6,0.095486,0.097222,0.091146,0.092882,0.057477,59990400,MSFT,1986,3,4,...,NaN,NaN,1.028036,NaN,NaN,0,0.105712,NaN,1,LARGEST
7,0.092882,0.092882,0.089410,0.090278,0.055866,65289600,MSFT,1986,3,0,...,NaN,NaN,1.048074,NaN,NaN,0,0.062149,NaN,1,LARGEST
8,0.090278,0.092014,0.089410,0.092014,0.056940,32083200,MSFT,1986,3,1,...,NaN,NaN,1.037734,NaN,NaN,0,0.045732,NaN,1,LARGEST
9,0.092014,0.095486,0.091146,0.094618,0.058551,22752000,MSFT,1986,3,2,...,NaN,NaN,1.018347,0.096354,NaN,0,0.074123,NaN,1,LARGEST

In [212]:
stocks_df['Date'] = pd.to_datetime(stocks_df['Date'])

In [213]:
stocks_df

,Open,High,Low,Close,Adj Close,Volume,Ticker,Year,Month,Weekday,...,growth_90d,growth_365d,growth_future_5d,SMA10,SMA20,growing_moving_average,high_minus_low_relative,volatility,is_positive_growth_5d_future,ticker_type
0,0.088542,0.101563,0.088542,0.097222,0.060163,1031788800,MSFT,1986,3,3,...,NaN,NaN,0.982144,NaN,NaN,0,0.216429,NaN,0,LARGEST
1,0.097222,0.102431,0.097222,0.100694,0.062311,308160000,MSFT,1986,3,4,...,NaN,NaN,0.922419,NaN,NaN,0,0.083596,NaN,0,LARGEST
2,0.100694,0.103299,0.100694,0.102431,0.063386,133171200,MSFT,1986,3,0,...,NaN,NaN,0.881354,NaN,NaN,0,0.041097,NaN,0,LARGEST
3,0.102431,0.103299,0.098958,0.099826,0.061774,67766400,MSFT,1986,3,1,...,NaN,NaN,0.921744,NaN,NaN,0,0.070272,NaN,0,LARGEST
4,0.099826,0.100694,0.097222,0.098090,0.060700,47894400,MSFT,1986,3,2,...,NaN,NaN,0.964604,NaN,NaN,0,0.057199,NaN,0,LARGEST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495183,3588.000000,3593.250000,3556.300049,3584.800049,3584.800049,798783,TITAN.NS,2024,4,4,...,1.003752,1.305437,NaN,3594.935034,3669.702502,0,0.010307,1210.995967,0,LARGE
495184,3585.000000,3613.449951,3573.149902,3604.850098,3604.850098,703524,TITAN.NS,2024,4,0,...,1.000694,1.325489,NaN,3593.490039,3661.975012,0,0.011179,1191.951236,0,LARGE
495185,3602.649902,3619.500000,3580.000000,3589.250000,3589.250000,963220,TITAN.NS,2024,4,1,...,0.999401,1.302943,NaN,3592.355029,3651.347510,0,0.011005,1204.652133,0,LARGE
495186,3585.000000,3598.000000,3546.300049,3568.449951,3568.449951,1435891,TITAN.NS,2024,5,3,...,0.991085,1.292563,NaN,3584.610034,3642.850012,0,0.014488,1229.948393,0,LARGE
495187,3595.000000,3599.000000,3492.000000,3533.899902,3533.899902,1681592,TITAN.NS,2024,5,4,...,0.976323,1.293192,NaN,3585.490015,3631.747510,0,0.030278,1276.306197,0,LARGE

In [215]:
stocks_df[stocks_df['Date']=='2014-01-01'].groupby(by=['Date','ticker_type']).growth_7d.mean()

Date        ticker_type
2014-01-01  LARGE          1.011684
            LARGEST        1.011797
Name: growth_7d, dtype: float64

In [236]:
d7 = stocks_df[stocks_df['Date']>='2014-01-01'].groupby(by=['Date','ticker_type']).growth_7d.mean()

In [244]:
d7s = d7.reset_index().pivot_table(index='Date', columns='ticker_type', values='growth_7d')

In [255]:
d7s

ticker_type     LARGE   LARGEST  compare
Date
2014-01-01   1.011684  1.011797    False
2014-01-02   1.002186  1.006979    False
2014-01-03   1.000506  0.999562     True
2014-01-06   0.995775  0.994459     True
2014-01-07   0.991529  0.992542    False
...               ...       ...      ...
2024-04-29   1.023805  1.019467     True
2024-04-30   1.012735  1.014103    False
2024-05-01   1.018989  1.000550     True
2024-05-02   1.004933  0.995284     True
2024-05-03   0.996642  1.000938    False

[2684 rows x 3 columns]

In [247]:
d7s['compare'] = d7s['LARGE'] > d7s['LARGEST']

In [258]:
round((d7s['compare'].sum()/len(d7s)),2) *100

47.0

#### Question 4: Trying Another Technical Indicators strategy
What's the total gross profit (in THOUSANDS of $) you'll get from trading on CCI (no fees assumption)?

In [3]:
df1 = pd.read_parquet("stocks_df_combined_trunc_2014_2023.parquet.brotli")

In [4]:
df1

,Open,High,Low,Close,Adj Close_x,Volume,Ticker,Year,Month,Weekday,...,growth_brent_oil_7d,growth_brent_oil_30d,growth_brent_oil_90d,growth_brent_oil_365d,growth_btc_usd_1d,growth_btc_usd_3d,growth_btc_usd_7d,growth_btc_usd_30d,growth_btc_usd_90d,growth_btc_usd_365d
7011,37.349998,37.400002,37.099998,37.160000,31.233059,30632200.0,MSFT,2014,2014-01-01,3,...,0.964302,0.992998,0.970030,1.158676,NaN,NaN,NaN,NaN,NaN,NaN
7012,37.200001,37.220001,36.599998,36.910000,31.022930,31134800.0,MSFT,2014,2014-01-01,4,...,0.958139,0.984707,0.961500,1.143209,NaN,NaN,NaN,NaN,NaN,NaN
7013,36.849998,36.889999,36.110001,36.130001,30.367352,43603700.0,MSFT,2014,2014-01-01,0,...,0.953798,0.998223,0.968951,1.168236,NaN,NaN,NaN,NaN,NaN,NaN
7014,36.330002,36.490002,36.209999,36.410000,30.602673,35802800.0,MSFT,2014,2014-01-01,1,...,0.958653,0.993430,0.977598,1.097648,NaN,NaN,NaN,NaN,NaN,NaN
7015,36.000000,36.139999,35.580002,35.759998,30.056356,59971700.0,MSFT,2014,2014-01-01,2,...,0.955161,0.973383,0.974977,1.100781,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,3424.000000,3496.000000,3408.600098,3477.949951,3477.949951,1681707.0,LT.NS,2023,2023-12-01,4,...,1.064772,0.971018,0.939967,0.797881,1.002935,1.040865,1.049324,1.175398,1.655339,2.614201
5339,3477.949951,3508.350098,3477.949951,3490.050049,3490.050049,1072263.0,LT.NS,2023,2023-12-01,1,...,1.058217,0.982429,0.956014,0.801404,0.974945,0.972127,1.005911,1.134509,1.613511,2.513055
5340,3510.000000,3549.000000,3504.149902,3544.000000,3544.000000,1389266.0,LT.NS,2023,2023-12-01,2,...,1.040496,0.965806,0.943050,0.749506,1.021694,1.009920,0.995203,1.166121,1.607712,2.598696
5341,3545.000000,3559.949951,3500.500000,3518.050049,3518.050049,3371121.0,LT.NS,2023,2023-12-01,3,...,1.005645,0.965632,0.932881,0.730228,0.981240,0.977409,0.971705,1.126794,1.583988,2.575301
5342,3531.000000,3540.000000,3495.000000,3526.000000,3526.000000,968577.0,LT.NS,2023,2023-12-01,4,...,0.972359,0.995092,0.925850,0.720539,0.987603,0.990099,0.956850,1.112020,1.561092,2.529656

In [373]:
def cal_cci(data, period = 30):
    # Calculate Typical Price
    tp = (data['High'] + data['Low'] + data['Close'])/3

    # Calculate simple moving average
    tp_sma = tp.rolling(window=period).mean()

    # Calculate Mean Derivation (MD)
    md = (tp - tp_sma).abs().rolling(window=period).mean()

    # Calculate cci
    cci = (tp - tp_sma) / (0.015 * md)

    return cci

In [22]:
df1['Entry Price'] = df1['Adj Close_x']
df1['Exit Price'] = df1['Adj Close_x'].shift(-5)
df1['Profit_Loss'] = (df1['growth_future_5d'] * (1000))-1000

In [23]:
df1_fri = df1[df1['Date'].dt.dayofweek ==4]

In [24]:
df1_fri_200 = df1_fri[df1_fri['cci']>200] 

df1_fri_200

,Open,High,Low,Close,Adj Close_x,Volume,Ticker,Year,Month,Weekday,...,growth_btc_usd_1d,growth_btc_usd_3d,growth_btc_usd_7d,growth_btc_usd_30d,growth_btc_usd_90d,growth_btc_usd_365d,Entry Price,Exit Price,Profit_Loss,Profit_Loss2
7113,40.450001,40.970001,40.250000,40.939999,34.912762,34567600.0,MSFT,2014,2014-05-01,4,...,NaN,NaN,NaN,NaN,NaN,NaN,34.912762,35.373264,13.190094,13.190094
7181,45.110001,45.930000,45.110001,45.910000,39.395618,36939400.0,MSFT,2014,2014-09-01,4,...,NaN,NaN,NaN,NaN,NaN,NaN,39.395618,40.073509,17.207263,17.207263
7340,45.660000,48.139999,45.650002,47.869999,41.630741,130933700.0,MSFT,2015,2015-04-01,4,...,0.978035,0.982994,1.037625,0.939362,0.933108,NaN,41.630741,42.317780,16.503151,16.503151
7452,44.270000,45.570000,43.919998,45.570000,40.151123,41839000.0,MSFT,2015,2015-10-01,4,...,0.998922,1.002560,1.009139,1.034930,0.909566,0.632660,40.151123,41.507988,33.793947,33.793947
7467,52.299999,54.070000,52.250000,52.869999,46.583046,135227100.0,MSFT,2015,2015-10-01,4,...,1.009025,1.026100,1.051840,1.200679,0.957738,0.771437,46.583046,46.380405,-4.350092,-4.350092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5072,2061.000000,2095.800049,2058.449951,2062.750000,2058.108887,2652761.0,LT.NS,2022,2022-11-01,4,...,0.995024,1.020511,0.989464,0.795450,0.824372,0.288467,2058.108887,2080.807617,11.028926,11.028926
5219,2420.000000,2483.500000,2415.050049,2475.550049,2469.979980,2690699.0,LT.NS,2023,2023-06-01,4,...,1.001048,0.993127,0.992891,1.119678,1.072726,1.540443,2469.979980,2443.839111,-10.583434,-10.583434
5234,2522.000000,2595.000000,2521.100098,2586.250000,2580.430908,4610417.0,LT.NS,2023,2023-07-01,4,...,1.003918,1.001748,0.985979,0.996052,1.075177,1.291138,2580.430908,2643.588623,24.475647,24.475647
5268,2888.000000,2928.699951,2872.449951,2901.600098,2901.600098,3638510.0,LT.NS,2023,2023-09-01,4,...,0.987251,1.004875,1.004067,0.876331,1.002105,1.340190,2901.600098,2908.550049,2.395213,2.395213
5323,3129.949951,3197.949951,3121.050049,3190.649902,3190.649902,2112908.0,LT.NS,2023,2023-12-01,4,...,1.025880,1.022671,1.025675,1.091754,1.495576,2.280217,3190.649902,3378.449951,58.859497,58.859497

In [25]:
df1_fri_200['Profit_Loss'].sum()

1048.262891817731

In [26]:
df1_fri_200['Profit_Loss'].sum()/1000

1.048262891817731

Additional:

Add an approximate fees calculation over the 460 trades from this calculator https://www.degiro.ie/fees/calculator (Product:"Shares, USA and Canada;" Amount per transaction: "1000 EUR"; Transactions per year: "460")
are you still profitable on those trades?

According to the website, the yearly cost is €2,210.50. Based on the calculation early, the profit over 10 years is around 1,048. So, it is not profitable on these trades.